html{
    font-family: "Roboto", sans-serif;
}
#header{
    padding: 25px;
    background-color: #aa113f;
    margin: none;
}
#image:hover{
    cursor: pointer;
}
#page{
    text-decoration: underline;
    color: slateblue;
}
#page:hover{
    cursor: pointer;
}
.section{
    border-radius: 5px;
    margin: 20px auto;
    border: 5px solid black;
    height: 300px;
    width: 300px;
    background-color: gray;
    color: black;
    display: inline-flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    margin-left: 25px;
    margin-right: 25px;
    vertical-align: center;
}
.section:hover{
    border: 5px solid slateblue;
    cursor: pointer;
}
.sectionContainer{
    padding: 50px;
}
#grades{
    align-items: center;
}
.assignment{
    border-radius: 5px;
    /*margin: 20px auto;*/
    border: 1px solid black;
    height: 100px;
    width: 500px;
    background-color: gray;
    color: black;
    display: inline-flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    margin-left: 25px;
    margin-right: 25px;
    vertical-align: center;
}
.assignment:hover{
    border: 1px solid slateblue;
    cursor: pointer;
}
.assignmentHeader{
    border-radius: 5px;
    /*margin: 20px auto;*/
    border: 1px solid black;
    height: 50px;
    width: 500px;
    background-color: gray;
    color: black;
    display: inline-flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    margin-left: 25px;
    margin-right: 25px;
    vertical-align: center;
}
.assignmentHeader:hover{
    border: 1px solid slateblue;
    cursor: pointer;
}
.btn {
	/* Displayed like an inline element, but height and width can be changed: */
	display: inline-block;
	background-color: gray;
	color: black;
	border: none;
	padding: 10px 20px;
	margin: 5px;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	font-size: 15px;
	font-family: inherit;
}